<!-- <p>home works!</p> -->
<app-greeting [message]="'Hello 12345'" />
<!-- <input type="text" placeholder="type something..." (keyup)="keyUpHandler($event)">
<p>Zähler: </p>
<button (click)="countUp()">hoch</button>
<button (click)="countDown()">runter</button>
<p>Zahl: {{ counter() }}</p>

--- -->

<h2>Gruppen:</h2>
<p>
    <input type="text" id="addGroup" placeholder="Gruppe"><button (click)="addGroup()">hinzufügen</button>  <label style="color: red;" id="error"></label>
</p>

@for (group of groups; track $index) {
    <p><label>{{group}}</label> <button (click)="removeGroup(group)">entfernen</button></p>
}

<h2>Schiris</h2>
<select id="my-menu">
    <option *ngFor="let entry of groups" value="entry.value">
    {{entry}}
    </option>
</select>

<h2>Spielmechanik</h2>
<p>
    Anzahl Gruppen:
    <input id="team_count" type="number" min="0" step="1" placeholder="2"/>
</p>
<p>
    Spiellänge in Minuten:
    <input id="game_time" type="number" min="0" step="1" placeholder="5"/>
</p>
<p>
    Pausenlänge in Minuten:
    <input id="break_time" type="number" min="0" step="1" placeholder="3"/>
</p>
<button (click)="setMechanics()">berechnen</button>
<p>
    <label>Gesamte Spielzeit in Minuten: </label><label id="time_all"></label>
</p>
<app-game-mechanics/>
